@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap');

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    --roboto:  'Roboto', sans-serif;
}

body {
    margin: 0;
}

a:link, a:visited, a:active {
    text-decoration:none;
    display: flex;
    margin: 0;
}


/* Start NavBar */

.navbar {
    font-family: var(--roboto);
    font-weight: 300;
    display: flex;
    width: 100vw;
    background-color: rgba(0,0,0, 0.6);
    box-shadow: 0.3rem 0.3rem 1rem rgba(0,0,0, 0.24);
    padding: .5rem 0;
    justify-content: center;
    background-size: cover;
    position: fixed;
    z-index: 101;
}

.menu {
    display: flex;
    font-size: 1.3rem;
    font-family: var(--roboto);
    font-weight: 100;
    padding: 0.5rem 0 0 0;
    letter-spacing: 2px;
    background-size: cover;
}

.nav-input {
    display: none; 
}

.menu__link {
    display: flex;
    margin: 0.625em;
    padding: 0 .7em;
    color: white;
}

.a_menu {
    color: #fff;
    text-decoration: none;
    letter-spacing: 0.085em;
}

/* End NavBar */

/* Start Section Hero */

.section-hero {
    position: relative;
    background-image: url("img/backgrounds/background_home.jpg");
    min-height: 100vh;
    min-width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.particles-js-hero {
    height: 100vh;
    width: 100vw;
    display: flex;
    background: linear-gradient(180deg, #000000 5.21%, rgba(41, 41, 41, 0.87) 27.6%, rgba(33, 46, 64, 0.78) 42.19%, rgba(0, 48, 111, 0.7) 72.4%, rgba(0, 48, 111, 0.761307) 86.46%, rgba(0, 48, 111, 0.78) 100%);
  }

.hero-card {
    position: absolute;
    height: auto;
    min-height: 350px;
    width: auto;
    top: 25%;
    bottom: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 0.9rem;
    padding: 2.5rem 2.5rem 3.1rem;
    border-radius: 0.7rem;
    background: rgba(102, 102, 102, 0.22);
    border: 0.4rem solid rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 17px rgba(255, 255, 255, 0.7);
}

.h1-fm {
    font-family: var(--roboto);
    width: 50vw;
    text-align: center;
    font-weight: 200;
    font-size: 2.7rem;
    letter-spacing: 0.2rem;
    color: #fff;
    text-shadow: 3px 3px 6px rgba(0,0,0, 0.24);
    margin: 0 0 8px 0;
}

.h3-dt {
    font-family: var(--roboto);
    font-weight: 400;
    font-size: 2.5rem;
    color: #fff; 
    text-shadow: 3px 3px 6px rgba(0,0,0, 0.24);
    margin: 0.5rem 0 0 0;
}

.logo-icons {
    display: flex;
    padding-top: 30px;
    width: 200px;
    justify-content: space-evenly;
}

.logo-git:hover, .logo-lin:hover, .logo-email:hover {
    cursor: pointer;  
    }

.button-hs {
    border: 1px solid rgba(5,55,66, 0.15);
    border-radius: 30px;
    box-shadow: 3px 3px 16px rgba(0,0,0, 0.24);
    margin-top: 35px;
    padding: 0.6rem 1.8rem;
    background-color: #39A2DB;
    border: 2px solid #ffffff40;
    text-decoration: none;
    font-family: var(--roboto);
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    color:rgba(255,255,255, 0.9);
}

.button-hs:hover {
    box-shadow: 0 0 17px rgba(0,0,0, 0.6); 
    cursor: pointer;  
}

.a_{
    text-decoration: none;
    color: #E1F1FA;
}

/* Start About me Section */

.about-me {
    background-image: url('img/backgrounds/background_about_me.jpg');
    min-height: 100vh;
    min-width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me-card {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -5vh;
    left: -10vw;
    width: 80vw;
    max-width: 46rem;
    margin-top: 10vh;
}

.profile-des {
    display: flex;
    justify-content: start;
    width: 65vw;
}

.h-about-me {
    text-align: left;
    align-content: left;
    font-family: var(--roboto);
    font-weight: 100;
    color: rgba(255, 255, 255, 0.85);
    font-size: 2.8rem;
    font-weight: 300;
    padding: 1vw 0 0 3vw;
}

.p-about-me {
    width: 80%;
    font-family: var(--roboto);
    padding: 3vw;
    font-weight: 100;
    line-height: 140%;
    font-size: 22px;
    color: rgba(255, 255, 255, 0.8)
}

/* End About me Section */

/* Start My Porfolio Section */

.my-portfolio {
    background-image: url(img/backgrounds/background_portfolio.jpg);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover
}

.my-portfolio-tittle {
    margin: 6rem 0 0;
    text-align: center;
}

.h-my-portfolio {
    color: rgba(255, 255, 255, 1);
    font-family: var(--roboto);
    letter-spacing: 7%;
    font-size: 2.8rem;
    font-weight: 300;
}

.h-projects {
    font-weight: 2rem;;
}

.p-my-portfolio {
    font-family: var(--roboto);
    color: rgba(255, 255, 255, 0.8);
    font-weight: 100;
    font-size: 1.3rem;
    margin: 0;
}

.portfolio-cards-container {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: auto;
    align-self: center;
    justify-content: space-evenly;
}

.cards1to3 {
    display: flex;
    flex-direction: row;
    margin-top: 5vh;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.cards4to5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5vh;
    height: 100%;
}

.card-project {
    width: 22vw;
    padding: 3vw 1.3vw; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(232, 240, 242, .48);
    box-shadow: 0 0 1rem rgba(0,0,0, 0.9);
    margin: 0.8rem;
    background: rgba(1, 11, 17, 0.75);
    border-radius: 0.7rem;
}

.img-project {
    width: 55%;
    border-radius: 0.3rem;
    box-shadow: 0 0 1rem rgba(0,0,0, 0.7);
    margin-bottom: 1rem;
}

.h-projects {
    padding-bottom: 20px;
    text-align: center;
}

.p-projects {
    text-align: center;
    font-family: var(--roboto);
    color: rgba(255, 255, 255, 0.8);
    font-weight: 100;
    font-size: 1rem;
    letter-spacing: 10%;
}

.visit-project {
    margin-top: 2rem;
    display: flex;
    background-color: #39A2DB35;
    color: rgba(255, 255, 255, 0.8);
    border-radius: 12px;
    font-family: var(--roboto);
    font-weight: 100;
    justify-content: space-between;
    padding: 9px 25px;
    width: 11rem;
}

.visit-project-nologo {
    margin-top: 2rem;
    display: flex;
    background-color: #39A2DB35;
    color: rgba(255, 255, 255, 0.8);
    border-radius: 12px;
    font-family: var(--roboto);
    font-weight: 100;
    justify-content: center;
    padding: 9px 25px;
    width: 11rem;
}

.img-github-proj {
    width: 1.1rem;
}

.btn_github {
    display: flex;
    flex-direction:column-reverse;
    height: 100%;
}

/* Start My Education Section */

.education-section {
    background-image: url(img/backgrounds/background_education.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100vw;
    min-height: 100vw;
}

.h-section {
    margin-top: 6rem;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    font-family: var(--roboto);
    letter-spacing: 7%;
    font-size: 2.8rem;
    font-weight: 300;
}

h3 {
    color: rgba(255, 255, 255, 0.80);
    font-size: 1.25rem;
    font-family: var(--roboto);
    font-weight: 400;
    margin: 0.625rem 0 0 0;
}

h4 {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-family: var(--roboto);
    font-weight: 100;
}

.edu-par {
    font-family: var(--roboto);
    margin: 9px 0 0 0 ;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.80);
    font-size: 0.9rem;
}

.edu-img {
    width: 50px;
    height: 50px;
    margin: 13px 16px 0 3px;
}

.container-education {
    display: flex;
    flex-direction: column;
}

.card-container {
    display: flex;
    width: 60vw;
    padding: 3vh 7vh;
    margin: 4vw 0 0 0;
    border: 0.25rem solid rgba(255, 255, 255, 0.05);
    box-shadow: 0px 4px 21px rgba(255, 255, 255, 0.05);
    border-radius: 0.75rem;
    font-size: 16px;
    font-weight: 100;
    line-height: 200%;
}

.animation {
    opacity: 0;
    transition: all 0.5s;
}

.card-end {
    margin-bottom: 10vh;
}

.card_container_1 {
    background: rgba(139, 139, 139, 0.54);
}

.card_container_2 {
    background: rgba(139, 139, 139, 0.4);
}

.card_container_3 {
    background: rgba(139, 139, 139, 0.27);
}

.card_container_4 {
    background: rgba(139, 139, 139, 0.17);
}

/* Start Contact Section */

.contact {
    position: relative;
    display: flex;
}

.contact__container-tittle {
    position: absolute;
    width: auto;
    height: auto;
    top: 10%;
    bottom:16%;
    right: 30%;
    left: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.particles-js {
    height: 100vh;
    width: 100vw;
    display: flex;
    background: linear-gradient(180deg, #000000 5.21%, rgba(41, 41, 41, 0.87) 27.6%, rgba(33, 46, 64, 0.78) 42.19%, rgba(0, 48, 111, 0.7) 72.4%, rgba(0, 48, 111, 0.761307) 86.46%, rgba(0, 48, 111, 0.78) 100%);
  }

.h-contact1 {
    margin: 0;
    color: rgba(255, 255, 255, 0.87);
    font-family: var(--roboto);
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
}

.contact-container {
    display: flex;
    flex-direction: column;
    padding: 5vh 2.3vw;
    text-align: center;
    align-self: center;
    justify-items: center;
    align-items: center;
    margin: 0.5rem 0 0 0;
    border-radius: 0.6rem;
    box-shadow: 0 0 1rem rgba(0,0,0, 0.4);
    width: 90%;
}

.h-contact {
    color: rgba(255, 255, 255, 0.87);
    font-family: var(--roboto);
    font-size: 3rem;
    font-weight: 300;
    margin: 4rem 0 0 0;
    text-align: center;
}

.contact-form {
    font-family: var(--roboto);
    font-size: 24px;
    color: rgba(255, 255, 255, 0.8);
    width: 90%;
}

.email-field {
    font-family: var(--roboto);
    font-size: 1.25rem;
    text-align: center;
    width: 100%;
    height: 4vh;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0.3rem;
    margin: 0.75rem 0 2.5rem 0;
    border: none;
}

.textarea-field {
    width: 100%;
    height: 8rem;
    font-family: var(--roboto);
    font-size: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    resize: none;
    margin: 12px 0 0 0;
    border: none;
    border-bottom: 1px;
    border-radius: 0.3rem;
}

.submit-btn {
    font-family: var(--roboto);
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 1.5px;
    text-align: center;
    padding: 0.6rem 1.8rem;
    border-radius: 20px;
    color: rgba(255, 255, 255, 0.9);
    background-color: #39A2DB99;
    border: none;
    margin: 1rem 0 0 0;
}

.submit-btn:hover {
    box-shadow: 0 0 17px rgba(0,0,0, 0.6); 
    cursor: pointer;  
}

.submit-btn:active {
    font-size: 0.9rem;
}

.sub-h-contact {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    color: #fff;
    font-family: var(--roboto);
    font-weight: 100;
    padding: 1rem;
    letter-spacing: 0.15rem;
}

.a_contact {
    text-decoration: none;
    color: #fff;
    padding: 0 0.5rem;
}

.footer {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.1rem;
    padding-bottom: 0.7rem;
    letter-spacing: 0.05rem;
    display: flex;
    justify-content: center;
    font-family: var(--roboto);
    font-weight: 100;
    position: absolute;
    bottom:0;
    right: 20%;
    left: 20%;
}

/* End Contact Section */

@media (max-width:900px) {
    
    .navbar {
        justify-content: center;
    }

    .menu {
        padding: 0;
        font-size: 0.9rem;
    }

    .h-my-portfolio, .p-my-portfolio  {
        margin: 0;
    }

    .my-portfolio-tittle {
        margin-top: 4rem;
    }
    
    .h-projects {
        font-size: 1.2rem;
    }

    .card-project {
        width: 27vw;
    }

    .visit-project {
        width: 9rem;
        text-align: center;
        justify-content: center;
        font-size: 0.9rem;
        font-weight: 300;
    }

    .img-github-proj {
        display: none;
    }

    .container-education {
        align-items: center;
    }

    .card-container {
        width: 75%;
    }

    .contact__container-tittle  {
        width: auto;
        left: 25%;
        right: 25%;
    }

}
@media (max-width:700px) {
    
    .profile-des {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .about-me {
        background-image: url(img/backgrounds/about_me_small.jpg);
        width: 90vw;
    }

    .about-me-card {
        align-items: center;
        left: 0;
        margin-top: 6.25rem;
        background: rgba(100, 99, 99, 0.75);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 1rem;
    }

    .h-about-me {
        text-align: left;
        align-content: center;
        text-align: center;
        margin: 1rem 0;
        padding: 1rem 0 0;
        font-family: var(--roboto);
        color: rgba(255, 255, 255, 0.85);
        font-size: 40px;
        font-weight: 300;
        }

    .p-about-me {
        width: 70vw;
        font-family: var(--roboto);
        font-weight: 100;
        line-height: 140%;
        text-align:justify;
        font-size: 1.3rem;
        color: rgba(255, 255, 255, 0.85);
        padding: 0.3rem 0 1.7rem 0;
    }

    .portfolio-cards-container {
        display: flex;
        flex-direction: column;
        width: 100vw;
        align-items: center;
    }

    .cards1to3 {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .cards4to5 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .img-project {
        width: 55%;
    }
    
    .card-project {
        width: 80%;
        height: 80%;
        margin: 0 0 2rem 0;
        padding: 2rem;
    }

    .card-project-last {
        margin-bottom: 8vw;
    }

    .my-portfolio {
        height: 100%;
    }

    .my-portfolio-tittle {
        margin: 80px 0 0;
        justify-items: center;
        text-align: center;
    }
    
    .h-my-portfolio {
        margin: 0;
        text-align: center;
    }

    .p-my-portfolio {
        margin:0 0 1rem;
    }
    
    .h-projects {
        text-align: center;
    }

    .container-education {
        align-items: center;
        width: 90vw;
    }

    .h-section {
        margin: 60px 0 0 0;
    }

    .h3-edu {
        text-align: center;
        margin-bottom: 10px;
    }

    .card-container {
        display: flex;
        flex-direction: column;
        margin: 7vw 0 0 0;
        width: 90%;
        padding: 0.7rem 1.875rem 1.5rem;
        font-size: 18px;
    }

    .card-education-end {
        margin: 7vw 0 8vw;
    }

    .card-container {
    text-align: center;
    }
    .edu-img {
        align-self: center;
    }

    .h-contact {
        margin: 3rem 0 0;
        font-size: 2.3rem;
    }

    .contact-container {
        width: 100%;
        align-content: center;
    }

}

    @media (max-width:500px) {
       
        .menu {
            font-size: 0.7rem;
            text-align: center; 
        }

        .h1-fm {
            font-size: 10vw;
        }

        .h3-dt {
            font-size: 10vw;
        }

        .h-about-me {
            font-size: 10vw;
        }

        .p-about-me {
            font-size: 4.5vw;

        }

        .h-contact {
            font-size: 2rem;
        }

        .contact-container {
            width: 80vw;
        }

        .footer {
            font-size: 0.7rem;
    }
}

@media (max-width: 400px) {
        .menu__link {
            font-size: 2.5vw;
        }
}
